.form__logo {
  width: 128px;
  margin-top: 8vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.form__label {
  margin-top: 16px;
  font-weight: bold;
}

.form__input {
  margin-bottom: 16px;
}

.form__submit {
  font-weight: bold;
  margin-top: 5vh
}

.form__query, .ant-calendar-picker-input, .ant-select-selection {
  background-color: rgb(245, 245, 245);
  border: none;
}

.form__loading--wrapper, .form__alert {
  margin-top: 8vh;
  text-align: center;
}

.form__alert {
  border: none;
  background-color: rgb(252, 252, 164);
  font-weight: bold;
}