.App__loading--container, .App__geoUnavailable {
  text-align: center;
}

.App__birdie {
  width: 5%;
  margin-top: 30vh;
}

.App__loading {
  margin-top: 4vh;
}

.App__birdie--message {
  font-style: italic;
  margin-top: 4vh;
  font-size: 120%;
}