.results__back {
  font-weight: bold;
  z-index: 100;
  margin-top: 8.75vh;
  border: 0.5px solid rgb(241, 241, 241);
}

.results__back--wrapper {
  text-align: center;
}

.results__logo {
  width: 128px;
  margin-top: 8vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.results__logo--wrapper {
  text-align: center;
}

.anticon {
  vertical-align: 0.1em;
}

.results__numResults {
  margin-top: 2vh;
  font-weight: bold;
}

.results__data {
  margin-top: 2vh;
  margin-bottom: 4vh;
}